h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.header {
    background: var(--white, #FFF);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.div-header {
    display: flex;
    align-items: center;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.link {
    text-decoration: none;


}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.logo-web {
    color: var(--iris, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-display {
    display: flex;
    align-items: center;
}

.title-studio {
    color: #2E2F42;
}

.menu-list {
    display: flex;
    gap: 40px;
}


.menu-link {
    color: var(--navyblue, #2E2F42);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-link:hover {
    color: #404bbf;
}

.menu-link:focus {
    color: #404bbf;
}

.link-stidio::after {
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;

}

.link-portfolio {
    color: #2E2F42;
}

.link-contacts {
    color: #2E2F42;
}

.contacts-link-li {
    display: flex;
    gap: 40px;

}

.contacts-mail-tel {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-left: auto;


}

.contacts-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
    color: #404bbf;
}

.contacts-link:focus {
    color: #404bbf;
}

.effective-button {
    background: var(--navyblue, #2E2F42);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 188px 0;
    max-width: 1440px;


}


.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.effective {
    color: var(--white, #FFF);
    text-align: center;
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 1.12px;
}

.effective-title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;

}

.button-container {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button {
    cursor: pointer;
    color: #ffffff;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: var(--iris, #4D5AE5);
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.section-content-list {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-list {
    display: flex;
    gap: 24px;
}

.target {
    color: var(--navyblue, #2E2F42);
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;


}

.target-li {
    width: calc((100% - 72px) / 4);
}

.icon-advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.list-title {
    margin-bottom: 8px;
}

.text {
    color: var(--slate, #434455);
    /* Body */
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

.team {
    background: var(--cloud, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-portfolio {
    margin-bottom: 72px;
}

.title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-images {
    position: relative;
    overflow: hidden;
}

.images-app {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-list:hover .images-app {
    transform: translateY(0%);
}

.photo-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.div-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.caption-portfolio {
    margin-bottom: 8px;
}

.title-team {
    margin-bottom: 72px;
}

.warp-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.warp-icons {
    margin-top: 8px;
}

.list-icons {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icons:hover {
    background-color: #404bbf;
}

.link-icons:focus {
    background-color: #404bbf;
}

.icons-li {
    fill: #f4f4fd;
}

.warp {
    justify-content: center;
    background: var(--white, #FFF);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.target-li-warp {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}

.name-specialist {
    padding: 32px 0;
}

.name {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
}

.name-style {
    text-align: center;
    margin-bottom: 8px;
}

.specialist {
    color: var(--slate, #434455);
    text-align: center;
    /* Body */
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

.specialist-style {
    text-align: center;
}


.heading {
    color: var(--navyblue, #2E2F42);
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
}

.desc {
    color: var(--slate, #434455);
    /* Body */
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

.footer {
    background: var(--navyblue, #2E2F42);
    padding: 100px 0;
}

.div-footer {
    display: flex;
    align-items: baseline;
}

.div-logo-down {
    margin-right: 120px;
}

.link-logo {
    display: inline-block;
    margin-bottom: 16px;

}

.logo-down {
    color: var(--iris, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.title-studio-down {
    color: var(--cloud, #F4F4FD);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.text-down {
    color: var(--cloud, #F4F4FD);
    /* Body */
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

.text-footer {
    max-width: 264px;
}

.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-links {
    display: flex;
    gap: 16px;
}

.social-links-li {
    width: 40px;
    height: 40px;

}

.media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover {
    background-color: #31d0aa;
}

.media-link:focus {
    background-color: #31d0aa;
}

.svg-media {
    fill: #f4f4fd;
}

img {
    display: block;
}